storage/*
vendor
**/*node_modules
*.log
**.git
.idea
**.gitignore
**.gitattributes
**.sass-cache
*.env*
*.config.js
?ulpfile.js
?untfile.js
package.json
phpunit.xml
readme.md
phpspec.yml
Dockerfile
docker-compose.yml
*.tf
*.tfstate
*.tfstate.backup
.terraform/
